body{
    background-image: url("background-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
}

.Header{
    margin-top: 10%;
    text-align: center;
    align-content: center;
}

.headName{
    font-weight: bold;
    font-size: 80px;
}

.bio{
    height: 15%;
    width: 70%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 15%;
    border-radius: 15px;
    margin-bottom: 2%;
}

.bio:hover{
    border-style: solid;
    border-color: white;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.connectButtons{
    height: 15%;
    width: 70%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 15%;
    border-radius: 15px;
    margin-bottom: 2%;
}

.mainContent{
    text-align: center;
}

.myWork{
    height: 15%;
    width: 70%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 15%;
    border-radius: 15px;
    margin-bottom: 2%;
}

.mySkills{
    height: 15%;
    width: 70%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 15%;
    border-radius: 15px;
    margin-bottom: 2%;
}

.contactMe{
    height: 15%;
    width: 70%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 15%;
    border-radius: 15px;
    margin-bottom: 2%;
}

.footer{
    height: 15%;
    width: 70%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 15%;
    border-radius: 15px;
    margin-bottom: 2%;
    text-align: center;
}