body{
    background-image: url("background-4.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    /*background-attachment: fixed;*/
}

.Header{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    align-content: center;
}

.headName{
    /*font-weight: bold;*/
    font-size: 80px;
    font-family: 'Hammersmith One', sans-serif;
}

.bio{
    /*height: 15%;*/
    padding: 1%;
    width: 70%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 15%;
    border-radius: 15px;
    margin-bottom: 1%;
}

.bio h5{
  font-family: 'Hammersmith One', sans-serif;
}

.bio:hover{
    border-style: solid;
    border-color: white;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.social {
  margin-right: .25rem;
}

.social.resume {
  background-color: #bb0000;
  color: #fefefe;
}

.social.resume:hover, .social.resume:focus {
  background-color: #960000;
  color: #fefefe;
}

.social.linkedin {
  background-color: #007bb5;
  color: #fefefe;
}

.social.linkedin:hover, .social.linkedin:focus {
  background-color: #006291;
  color: #fefefe;
}

.social.github {
  background-color: #3d3d3d;
  color: #fefefe;
}

.social.github:hover, .social.github:focus {
  background-color: #2e2e2e;
  color: #fefefe;
}

.social.amazon {
  background-color: #ff9900;
  color: #fefefe;
}

.social.amazon:hover, .social.amazon:focus{
  background-color: #E68000;
  color: #fefefe;
}

.social > .fa {
  color: #fefefe;
  margin-right: .25rem;
}

.mainContent{
    text-align: center;
}

.myWork{
    width: 90%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 5%;
    border-radius: 15px;
    margin-bottom: 2%;
}

.workTable{
  display:table;
}

.row{
  display: table-row;
}

.workImgDiv{
  width: 33%;
  margin: 0%;
  display: table-cell;
  /*width:33.33vw;*/
  
  border-style: solid;
  border-color:rgba(255, 255, 255, 0.75);
  border-radius: 10%;
}

.workInfo{
  display: none;
  color: black;
}

.cardTitle{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 32;
    font-family: 'Hammersmith One', sans-serif;
}

.cardText{
  font-size: 18;
  font-family: 'Hammersmith One', sans-serif;
}

.sectionTitle{
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Hammersmith One', sans-serif;
}

.workImgDiv:hover{
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.10);
  -webkit-transform-origin: 50% 50%;
}

.workImgDiv:hover .workImg{
  width: 50%;
  vertical-align: top;
}

.workImgDiv:hover .workInfo{
  display: inline;
}

.mySkills{
    width: 90%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 5%;
    border-radius: 15px;
    margin-bottom: 2%;
}
.bar-graph {
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 425px;
  margin: 0;
}

.bar-graph li {
  display: block;
  padding: 1.5625rem 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  max-width: 20%;
  height: 100%;
  margin: 0 1.8% 1% 0;
  -webkit-flex: 1 1 15%;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.bar-graph .percent {
  opacity: 0.4;
  width: 100%;
  position: absolute;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .percent {
    font-size: 3.875rem;
  }
}

.bar-graph .description {
  font-weight: 800;
  opacity: 0.5;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  bottom: 20px;
  position: absolute;
  font-size: 1rem;
  overflow: hidden;
  font-family: 'Hammersmith One', sans-serif;
}

.bar-graph .bar.primary {
  border: 1px solid #1779ba;
  background: linear-gradient(#2196e3, #1779ba 70%);
  margin-left: 1.8%;
}

.bar-graph .bar.secondary {
  border: 1px solid #767676;
  background: linear-gradient(#909090, #767676 70%);
}

.bar-graph .bar.success {
  border: 1px solid #3adb76;
  background: linear-gradient(#65e394, #3adb76 70%);
}

.bar-graph .bar.warning {
  border: 1px solid #ffae00;
  background: linear-gradient(#ffbe33, #ffae00 70%);
}

.bar-graph .bar.alert {
  border: 1px solid #cc4b37;
  background: linear-gradient(#d67060, #cc4b37 70%);
}

/*HOVERS*/
.bar-graph .bar.primary:hover{
  background: linear-gradient(#1779ba, #1779ba 70%);
  transition: 0.3s ease-in-out;
}

.bar-graph .bar.secondary:hover{
  background: linear-gradient(#767676, #767676 70%);
  transition: 0.3s ease-in-out;
}

.bar-graph .bar.success:hover{
  background: linear-gradient(#3adb76, #3adb76 70%);
  transition: 0.3s ease-in-out;
}

.bar-graph .bar.warning:hover{
  background: linear-gradient(#ffae00, #ffae00 70%);
  transition: 0.3s ease-in-out;
}

.bar-graph .bar.alert:hover{
  background: linear-gradient(#cc4b37, #cc4b37 70%);
  transition: 0.3s ease-in-out;
}

.contactMe{
    /*height: 15%;*/
    width: 90%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 5%;
    border-radius: 15px;
    margin-bottom: 2%;
}

.contact-form {
  padding: 1rem;
  border-radius: 0;
}

.footer{
    height: 15%;
    width: 70%;
    background-color: rgba(39, 96, 96, 0.2);
    margin-left: 15%;
    border-radius: 15px;
    margin-bottom: 2%;
    text-align: center;
}


.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
  position: fixed;
  top: 0;
  margin-left: 5%;
  margin-top: 1%;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: white;
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color:rgba(39, 96, 96, 0.8);
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: white;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

.social-footer {
  padding: 1rem;
  background: rgba(241, 247, 247, 0.3);
  color: rgba(39, 96, 96, 0.8);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: rgba(39, 96, 96, 0.7);
}

.social-footer .social-footer-icons .fa:hover {
  color: rgba(11, 55, 51, 0.8);
  transition: color 0.3s ease-in;
}

