body{
    background-image: url("background-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
}

.Header{
    margin-top: 10%;
    text-align: center;
    align-content: center;
}

.headName{
    font-weight: bold;
    font-size: 80px;
}

.bio{
    height: 15%;
    width: 75%;
    background-color: #276060;
    margin-left: 12.5%;
    opacity: 0.4;
}

.bio h2{
    opacity: 1 !important;
}